body{
    font-family: auto;
    margin: 0;
    color:#926239;
    line-height: 1.6;
    font-size: 17px;
}
#showcase{
    background-size: cover;
    height: 100vh;
    background-image:url(https://newsroom.unsw.edu.au/sites/default/files/styles/full_width/public/thumbnails/image/5_junk_food_shutterstock_1.jpg?itok=X29w4W_j)
    
    

}